<!DOCTYPE html>
<html>
<head>
    <title>Mouse Coordinates</title>
    <style>
        body {
            background-color: #858585;
        }
    </style>
    <script>
        const mouse_tracking_socket = new WebSocket('ws://127.0.0.1:8000/ws/mouse_tracking/');

        // Send mouse coordinates to the server whenever the mouse is moved
        document.addEventListener('mousemove', (event) => {
            const x = event.clientX;
            const y = event.clientY;
            mouse_tracking_socket.send(JSON.stringify({ x, y }));
        });

        // Handle incoming messages from the server
        mouse_tracking_socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            document.getElementById('coordinates').innerText = `X: ${data.x}, Y: ${data.y}`;
        };

    </script>
</head>
<body>
    <h1>Mouse Coordinates</h1>
    <h3 id="coordinates"></h3>
</body>
</html>
